ipykernel
openai>=1.0.0
python-dotenv
yfinance
pandas
matplotlib
Pillow
pyaudio
SpeechRecognition
sounddevice
pygame
path
streamlit
streamlit_webrtc
unidecode
moviepy
pydub
sentencepiece
datasets
langchain
langchain-community
langchain-openai
huggingface-hub
jinja2
tiktoken
yt_dlp
beautifulsoup4
chromadb
faiss-cpu
# pysqlite3-binary  # LINUX or MAC


# The following libraries require authentication. Uncomment to install
# google-api-python-client
# google-auth-httplib2
# google-auth-oauthlib